<section>
    <div>
        <div class="flexrow">
            <p>Gamblin':</p>
            <select name="difficulty-gamblin" id="difficulty-gamblin">
                <option value="sucker">Sucker</option>
                <option value="player">Player</option>
                <option value="gambler">Gambler</option>
                <option value="huckster">Huckster</option>
            </select>
        </div>
        <div class="flexrow">
            <p>Bluff:</p>
            <select name="difficulty-bluff" id="difficulty-bluff">
                <option value="sucker">Sucker</option>
                <option value="player">Player</option>
                <option value="gambler">Gambler</option>
                <option value="huckster">Huckster</option>
            </select>
        </div>
        <div class="flexrow">
            <p>Scrutinize:</p>
            <select name="difficulty-scrutinize" id="difficulty-scrutinize">
                <option value="sucker">Sucker</option>
                <option value="player">Player</option>
                <option value="gambler">Gambler</option>
                <option value="huckster">Huckster</option>
            </select>
        </div>
        <div class="flexrow">
            <p>Cash:</p>
            <input type="number" name="player-cash" id="player-cash" value="20">
        </div>
        <a class="add-player center">Add</a>
    </div>
</section>