<section>
    <table>
        <tr>
            <td>Gamblin':</td>
            <td>
                <select name="difficulty-gamblin" id="difficulty-gamblin">
                    <option value="sucker">Sucker</option>
                    <option value="player">Player</option>
                    <option value="gambler">Gambler</option>
                    <option value="huckster">Huckster</option>
                </select>
            </td>
            <td>Bluff:</td>
            <td>
                <select name="difficulty-bluff" id="difficulty-bluff">
                    <option value="sucker">Sucker</option>
                    <option value="player">Player</option>
                    <option value="gambler">Gambler</option>
                    <option value="huckster">Huckster</option>
                </select>
            </td>
            <td>Scrutinize:</td>
            <td>
                <select name="difficulty-scrutinize" id="difficulty-scrutinize">
                    <option value="sucker">Sucker</option>
                    <option value="player">Player</option>
                    <option value="gambler">Gambler</option>
                    <option value="huckster">Huckster</option>
                </select>
            </td>
            <td>Cash:</td>
            <td>$<input type="number" name="player-cash" id="player-cash"></td>
            <td><a class="add-player center">Add</a></td>
        </tr>
    </table>
</section>