<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <textarea name="data.description" style="height: 200px;">{{data.data.description}}</textarea>
        <table>
            <tr>
            {{#if (eq boon.data.data.active true)}}
                <td><input type="checkbox" name="this.data.data.active" checked></td>
            {{else}}
                <td><input type="checkbox" name="this.data.data.active"></td>
            {{/if}}
            </tr>
            {{> systems/deadlands_classic/templates/partials/reuseable/equip_mods.hbs this}}
        </table>
    </div>
</form>