<form class="{{cssClass}} typed" autocomplete="off">
    <div class="flexrow">
        {{#isGM}}
        <!-- Editor -->
        <div>
            <table>
                <tr>
                    <th>Template</th>
                    <td>
                        <select class="document-template" name="data.template">
                        {{#each documents as |doc|}}
                            {{#if (eq @key ../data.data.template)}}
                            <option value="{{@key}}" selected>{{doc.label}}</option>
                            {{else}}
                            <option value="{{@key}}">{{doc.label}}</option>
                            {{/if}}
                        {{/each}}
                        </select>
                    </td>
                </tr>
                {{#if (eq data.data.template 'letter')}}
                <tr>
                    <th>Date</th>
                    <td><input class="document-template" type="text" name="data.prefab.letter.date" value="{{data.data.prefab.letter.date}}"></td>
                </tr>
                <tr>
                    <th>Greeting</th>
                    <td><input class="document-template" type="text" name="data.prefab.letter.greeting" value="{{data.data.prefab.letter.greeting}}"></td>
                </tr>
                <tr>
                    <th>Body</th>
                    <td><input class="document-template" type="text" name="data.prefab.letter.body" value="{{data.data.prefab.letter.body}}"></td>
                </tr>
                <tr>
                    <th>Sender</th>
                    <td><input class="document-template" type="text" name="data.prefab.letter.sender" value="{{data.data.prefab.letter.sender}}"></td>
                </tr>
                {{/if}}
                {{#if (eq data.data.template 'newspaper')}}
                <tr>
                    <th>Date</th>
                    <td><input class="document-template" type="text" name="data.prefab.newspaper.date" value="{{data.data.prefab.newspaper.date}}"></td>
                </tr>
                <tr>
                    <th>Paper</th>
                    <td><input class="document-template" type="text" name="data.prefab.newspaper.paper" value="{{data.data.prefab.newspaper.paper}}"></td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td><input class="document-template" type="text" name="data.prefab.newspaper.price" value="{{data.data.prefab.newspaper.price}}"></td>
                </tr>
                <tr>
                    <th>Headline</th>
                    <td><input class="document-template" type="text" name="data.prefab.newspaper.headline" value="{{data.data.prefab.newspaper.headline}}"></td>
                </tr>
                <tr>
                    <th>Main Article</th>
                    <td><input class="document-template" type="text" name="data.prefab.newspaper.main_article" value="{{data.data.prefab.newspaper.main_article}}"></td>
                </tr>
                <tr>
                    <th>Column Count</th>
                    <td><input class="document-template" type="number" name="data.prefab.newspaper.columns" value="{{data.data.prefab.newspaper.columns}}"></td>
                </tr>
                <tr>
                    <th>Filler Articles</th>
                    <td><input class="document-template" type="number" name="data.prefab.newspaper.sub_articles" value="{{data.data.prefab.newspaper.sub_articles}}"></td>
                </tr>
                {{/if}}
            </table>
        </div>
        {{/isGM}}
        <!-- Preview -->
        <div>
            {{{data.data.output}}}
        </div>
    </div>
</form>