<form class="{{cssClass}} typed" autocomplete="off">
    <div class="flexrow">
        {{#isGM}}
        <!-- Editor -->
        <div>
            <table>
                <tr>
                    <th>{{Template}}</th>
                    <select name="data.template">
                        {{#each documents as |doc|}}
                            {{#if (eq @key ../data.data.template)}}
                        <option value="{{@key}}" selected>{{doc.label}}</option>
                            {{else}}
                        <option value="{{@key}}">{{doc.label}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </tr>
            </table>
        </div>
        {{/isGM}}
        <!-- Preview -->
        <div>
            {{data.data.output}}
        </div>
    </div>
</form>