<form class="{{cssClass}} typed" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <textarea name="data.description" style="height: 200px;">{{data.data.description}}</textarea>
        <table>
            <tr>
                <th>{{localize "dc.items.combat.melee.cost"}}</th>
                <td><input style="text-align: center;" type="text" name="data.cost" value="{{data.data.cost}}"/></td>
            </tr>
            <tr>
                <th>Skill</th>
                <td>{{> systems/deadlands_classic/templates/partials/reuseable/skill-dropdown.hbs this key_name='skill' value=data.data.skill}}</td>
            </tr>
            <tr>
                <th>{{localize "dc.items.combat.melee.damage"}}</th>
                <td><input style="text-align: center;" type="text" name="data.damage" value="{{data.data.damage}}"/></td>
            </tr>
            <tr>
                <th>Defensive Bonus</th>
                <td><input type="number" name="data.defensive_bonus" value="{{data.data.defensive_bonus}}"></td>
            </tr>
            {{> systems/deadlands_classic/templates/partials/reuseable/equip_opts.hbs this}}
        </table>
    </div>
</form>