<form class="typed">
    <h1 class="center">Poker</h1>
    <div class="flexrow">
        {{#isGM}}
            {{> "systems/deadlands_classic/templates/sheets/poker/partials/gm-poker-opts.hbs"}}
        {{/isGM}}
        <div>
            <table>
            {{#each players as |player|}}
                <tr>
                    <td class="center">{{player.name}}</td>
                    <td class="right">${{player.cash}}</td>
                </tr>
            {{/each}}
            </table>
        </div>
    </div>
    {{#isGM}}
        <a class="center">Launch Game</a>
    {{/isGM}}
</form>