<form class="{{cssClass}} typed" autocomplete="off">
    <div class="flexrow">
        <p class="center">{{date.weekday}} {{date.month}} {{date.day}} {{date.year}}</p>
    </div>
    {{> "systems/deadlands_classic/templates/partials/reuseable/fate-chips.hbs"}}
    <div class="center">
        <a><p class="refresh">Refresh</p></a>
    </div>
    <nav class="sheet-tabs tabs" data-group="gm">
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="notes">Notes</a>
        <a class="item" data-tab="posse">Posse</a>
    </nav>
    <section class="sheet-body scroller trait_scroller border">
        <div class="tab combat" data-group="gm" data-tab="combat">
            {{> "systems/deadlands_classic/templates/partials/tabs/gm-combat.hbs"}}
        </div>
        <div class="tab notes" data-group="gm" data-tab="notes">
            <textarea name="data.notes" id="notes" cols="30" rows="30">{{data.data.notes}}</textarea>
        </div>
        <div class="tab posse" data-group="gm" data-tab="posse">
            {{> "systems/deadlands_classic/templates/partials/tabs/gm-posse.hbs"}}
        </div>
    </section>
</form>