<form class="{{cssClass}} typed" autocomplete="off">
    <div class="form">
        <div class="flexbox">
            <div class="sheet">
                {{> "systems/deadlands_classic/templates/partials/mook-core.hbs"}}
                {{> "systems/deadlands_classic/templates/partials/mook-traits.hbs"}}
            </div>
            <div class="sidebar">
                {{> "systems/deadlands_classic/templates/partials/mook-sidebar.hbs"}}
            </div>
        </div>
    </div>
</form>