<form class="{{cssClass}}" autocomplete="off">
    <div class="form">
        <h1 class="center">
            <div data-edit="name" contenteditable="">{{actor.name}}</div>
        </h1>
        <a class="center"><p class="refresh">Refresh</p></a>
        {{> "systems/deadlands_classic/templates/partials/reuseable/fate-chips.hbs"}}
        {{#if action_deck}}
        {{> systems/deadlands_classic/templates/partials/reuseable/deck.hbs deck=action_deck}}
        {{/if}}
        <a class="center"><p class="roll-quickness">Roll Quickness!</p></a>
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="core">Core</a>
            <a class="item" data-tab="traits">Traits</a>
            <a class="item" data-tab="combat">Combat</a>
            {{#if miracles}}
            <a class="item" data-tab="miracles">Miracles</a>
            {{/if}}
            {{#if_has "edge" "Arcane Background (Huckster)"}}
            <a class="item" data-tab="hexes">Hexes</a>
            {{/if_has}}
            <a class="item" data-tab="goods">Goods</a>
            <a class="item" data-tab="notes">Notes</a>
        </nav>
        <section class="sheet-body scroller trait_scroller">
            <div class="tab description" data-group="primary" data-tab="description">
                {{> "systems/deadlands_classic/templates/partials/tabs/description.hbs"}}
            </div>
            <div class="tab core" data-group="primary" data-tab="core">
                {{> "systems/deadlands_classic/templates/partials/tabs/core.hbs"}}
            </div>
            <div class="tab traits" data-group="primary" data-tab="traits">
                <div class="sheet">
                    {{> "systems/deadlands_classic/templates/partials/tabs/traits.hbs"}}
                </div>
            </div>
            <div class="tab combat" data-group="primary" data-tab="combat">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/combat.hbs" this}}
                </div>
            </div>
            {{#if miracles}}
            <div class="tab miracles" data-group="primary" data-tab="miracles">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/miracles.hbs"}}
                </div>
            </div>
            {{/if}}
            {{#if_has "edge" "Arcane Background (Huckster)"}}
            <div class="tab hexes" data-group="primary" data-tab="hexes">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/hexes.hbs"}}
                </div>
            </div>
            {{/if_has}}
            {{#if favors}}
                {{> "systems/deadlands_classic/templates/partials/tabs/favor.hbs"}}
            {{/if}}
            <div class="tab goods" data-group="primary" data-tab="goods">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/goods.hbs"}}
                </div>
            </div>
            <div class="tab notes" data-group="primary" data-tab="notes">
                <textarea name="data.notes" id="notes" cols="30" rows="30">{{data.data.notes}}</textarea>
            </div>
        </section>
    </div>
</form>