<form class="{{cssClass}} typed" autocomplete="off">
    <div class="form">
        <div class="border">
            <h1 class="center">
                <div data-edit="name" contenteditable="">{{actor.name}}</div>
            </h1>
            <div class="flexrow">
                <p>{{time.weekday}} {{time.month}} {{time.day}} {{time.year}}</p>
                <a class="center"><p class="refresh">Refresh</p></a>
                <p class="right">Moon: {{time.moon}}</p>
            </div>
            {{> "systems/deadlands_classic/templates/partials/reuseable/fate-chips.hbs"}}
            {{#if action_deck}}
            {{> systems/deadlands_classic/templates/partials/reuseable/deck.hbs deck=action_deck}}
            {{/if}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">Description</a>
                <a class="item" data-tab="core">Core</a>
                <a class="item" data-tab="traits">Traits</a>
                <a class="item" data-tab="combat">Combat</a>
                {{#if miracles}}
                <a class="item" data-tab="miracles">Miracles</a>
                {{/if}}
                {{#if_has "edge" "Arcane Background (Huckster)"}}
                <a class="item" data-tab="hexes">Hexes</a>
                {{/if_has}}
                {{#if components}}
                <a class="item" data-tab="science">Science</a>
                {{/if}}
                {{#if favors}}
                <a class="item" data-tab="favor">Ritual</a>
                {{/if}}
                {{#if chi_powers}}
                <a class="item" data-tab="chi">Chi</a>
                {{/if}}
                {{#if (eq data.type "merchant")}}
                <a class="item" data-tab="merchant">Trade</a>
                {{/if}}
                <a class="item" data-tab="goods">Goods</a>
                <a class="item" data-tab="notes">Notes</a>
                {{#isGM}}
                <a class="item" data-tab="gm">GM</a>
                {{/isGM}}
            </nav>
            {{#isGM}}
            <div class="center">
            {{#if (eq data.data.show_editor true)}}
                <a class="edit-toggle">Hide Editor</a>
            {{else}}
                <a class="edit-toggle">Show Editor</a>
            {{/if}}
            </div>
            {{/isGM}}
        </div>
        <section class="sheet-body scroller trait_scroller border">
            <div class="tab description" data-group="primary" data-tab="description">
                {{> "systems/deadlands_classic/templates/partials/tabs/description.hbs"}}
            </div>
            <div class="tab core" data-group="primary" data-tab="core">
                {{> "systems/deadlands_classic/templates/partials/tabs/core.hbs"}}
            </div>
            <div class="tab traits" data-group="primary" data-tab="traits">
                <div class="sheet">
                    {{> "systems/deadlands_classic/templates/partials/tabs/traits.hbs"}}
                </div>
            </div>
            <div class="tab combat" data-group="primary" data-tab="combat">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/combat.hbs" this}}
                </div>
            </div>
            {{#if miracles}}
            <div class="tab miracles" data-group="primary" data-tab="miracles">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/miracles.hbs"}}
                </div>
            </div>
            {{/if}}
            {{#if_has "edge" "Arcane Background (Huckster)"}}
            <div class="tab hexes" data-group="primary" data-tab="hexes">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/hexes.hbs"}}
                </div>
            </div>
            {{/if_has}}
            {{#if favors}}
            <div class="tab favor" data-group="primary" data-tab="favor">
                <div class="sidebar">
                {{> "systems/deadlands_classic/templates/partials/tabs/favor.hbs"}}
                </div>
            </div>
            {{/if}}
            {{#if components}}
            <div class="tab science" data-group="primary" data-tab="science">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/science.hbs" this}}
                </div>
            </div>
            {{/if}}
            {{#if chi_powers}}
            <div class="tab chi" data-group="primary" data-tab="chi">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/chi.hbs" this}}
                </div>
            </div>
            {{/if}}
            {{#if (eq data.type "merchant")}}
            <div class="tab merchant" data-group="primary" data-tab="merchant">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/merchant.hbs" this}}
                </div>
            </div>
            {{/if}}
            <div class="tab goods" data-group="primary" data-tab="goods">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/tabs/goods.hbs"}}
                </div>
            </div>
            <div class="tab notes" data-group="primary" data-tab="notes">
                <textarea class="textbox" name="data.notes" id="notes" cols="30" rows="30">{{data.data.notes}}</textarea>
            </div>
            {{#isGM}}
            <div class="tab gm" data-group="primary" data-tab="gm">
                <div class="sheet">
                    {{> "systems/deadlands_classic/templates/partials/tabs/gm.hbs" this}}
                </div>
            </div>
            {{/isGM}}
        </section>
    </div>
</form>