<form>
    <div>
        <h1 class="center">
            <div data-edit="name" contenteditable="">{{actor.name}}</div>
        </h1>
    </div>
    <div>
        <h2 class="center">
            <div data-edit="data.type" contenteditable="">{{data.data.type}}</div>
        </h2>
        <table>
            <tr>
                <th class="center">Durability</th>
                <th class="center">Passengers</th>
                <th class="center">Pace</th>
                <th class="center">Climb</th>
                <th class="center">Turn</th>
            </tr>
            {{#isGM}}
            <tr>
                <td class="perc12 center"><input style="width: 45%;" type="number" name="data.durability.value" value="{{data.data.durability.value}}"/>/<input style="width: 45%;" type="number" name="data.durability.max" value="{{data.data.durability.max}}"/></td>
                <td class="perc12 center"><input style="width: 45%;" type="number" name="data.passengers.value" value="{{data.data.passengers.value}}"/>/<input style="width: 45%;" type="number" name="data.passengers.max" value="{{data.data.passengers.max}}"/></td>
                <td class="perc12 center"><input type="number" name="data.pace" value="{{data.data.pace}}"/></td>
                <td class="perc12 center"><input style="width: 45%;" type="number" name="data.climb.value" value="{{data.data.climb.value}}"/>/<input style="width: 45%;" type="number" name="data.climb.max" value="{{data.data.climb.max}}"/></td>
                <td class="perc12 center"><input type="number" name="data.turn" value="{{data.data.turn}}"/></td>
            </tr>
            {{else}}
            <tr>
                <td class="perc12 center"><p>{{data.data.durability.value}}/{{data.data.durability.max}}</p></td>
                <td class="perc12 center"><p>{{data.data.passengers.value}}/{{data.data.passengers.max}}</p></td>
                <td class="perc12 center"><p>{{data.data.pace}}</p></td>
                <td class="perc12 center"><p>{{data.data.climb.value}}/{{data.data.climb.max}}</p></td>
                <td class="perc12 center"><p>{{data.data.turn}}</p></td>
            </tr>
            {{/isGM}}
            <tr>
                <th class="center">Travel</th>
                <th class="center">Fuel</th>
                <th class="center">Reliability</th>
                <th class="center">Hit Modifier</th>
            </tr>
            {{#isGM}}
            <tr>
                <td class="perc12 center"><input type="number" name="data.travel" value="{{data.data.travel}}"/></td>
                <td class="perc12 center"><input type="number" name="data.fuel" value="{{data.data.fuel}}"/></td>
                <td class="perc12 center"><input type="number" name="data.reliability" value="{{data.data.reliability}}"/></td>
                <td class="perc12 center"><input type="number" name="data.modifier" value="{{data.data.modifier}}"/></td>
            </tr>
            {{else}}
            <tr>
                <td class="perc12 center"><p>{{data.data.travel}}</p></td>
                <td class="perc12 center"><p>{{data.data.fuel}}</p></td>
                <td class="perc12 center"><p>{{data.data.reliability}}</p></td>
                <td class="perc12 center"><p>{{data.data.modifier}}</p></td>
            </tr>
            {{/isGM}}
        </table>
    </div>
    <nav class="sheet-tabs tabs" data-group="vehicle">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="passengers">Passengers</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="goods">Goods</a>
        <a class="item" data-tab="notes">Notes</a>
    </nav>
    <section class="sheet-body vehicle-scroller trait_scroller border">
        <div class="tab description" data-group="vehicle" data-tab="description">
            <textarea name="data.description" id="notes" cols="30" rows="24">{{data.data.description}}</textarea>
        </div>
        <div class="tab passengers" data-group="vehicle" data-tab="passengers">
            {{#isGM}}
            <div class="sidebar">
                <table>
                    <tr>
                        <th>Seat</th>
                        <th>Driver</th>
                        <th>Gunner</th>
                    </tr>
                    <tr>
                        <td class="center"><input type="text" name="data.passenger_add.name" value="{{data.data.passenger_add.name}}"/></td>
                        {{#if (eq data.data.passenger_add.driver true)}}
                        <td class="center"><input type="checkbox" name="data.passenger_add.driver" checked></td>
                        {{else}}
                        <td class="center"><input type="checkbox" name="data.passenger_add.driver"></td>
                        {{/if}}
                        {{#if (eq data.data.passenger_add.gunner true)}}
                        <td class="center"><input type="checkbox" name="data.passenger_add.gunner" checked></td>
                        {{else}}
                        <td class="center"><input type="checkbox" name="data.passenger_add.gunner"></td>
                        {{/if}}
                    </tr>
                </table>
                <div><a class="center add-passenger">Add</a></div>
            </div>
            {{/isGM}}
            <div>
                <table>
                    <th>Seat</th>
                    <th>Driver</th>
                    <th>Gunner</th>
                    <th>Occupant</th>
                    {{#each data.data.passengers.onboard as |pass|}}
                    <tr class="item" data-itemId="{{@index}}">
                        <td><p>{{pass.name}}</p></td>
                        {{#if (eq pass.driver true)}}
                        <td class="center"><input type="checkbox" name="is-driver" checked></td>
                        {{else}}
                        <td class="center"><input type="checkbox" name="is-driver"></td>
                        {{/if}}
                        {{#if (eq pass.gunner true)}}
                        <td class="center"><input type="checkbox" name="is-gunner" checked></td>
                        {{else}}
                        <td class="center"><input type="checkbox" name="is-gunner"></td>
                        {{/if}}
                        {{#if (eq pass.character "Empty")}}
                        <td><a class="enter-vehicle center">Enter</a></td>
                        {{else}}
                        <td>{{pass.character}}</td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="tab combat" data-group="vehicle" data-tab="combat">
            <div class="sidebar">
                
            </div>
        </div>
        <div class="tab goods" data-group="vehicle" data-tab="goods">
            <div class="sidebar">
                {{> "systems/deadlands_classic/templates/partials/tabs/goods.hbs"}}
            </div>
        </div>
        <div class="tab notes" data-group="vehicle" data-tab="notes">
            <textarea name="data.notes" id="notes" cols="30" rows="24">{{data.data.notes}}</textarea>
        </div>
    </section>
</form>