<section>
    <div class="flexrow">
        <div>
            {{!-- Components --}}
            <h2 class="center">Components</h2>
            <table>
            {{#each components as |comp|}}
                <tr>
                    <td>{{comp.name}}</td>
                    <td>{{comp.data.data.amount}}</td>
                </tr>
            {{/each}}
            </table>
        </div>
        <div>
            {{!-- Blueprints --}}
            <h2 class="center">Blueprints</h2>
        </div>
    </div>
</section>