<section>
    <div class="flexrow">
        <div>
            {{!-- Components --}}
            <h2 class="center">Components</h2>
            <table>
            {{#each components as |comp|}}
                <tr>
                    <td>{{comp.name}}</td>
                    <td>x{{comp.data.data.amount}}</td>
                    <td><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
                </tr>
            {{/each}}
            </table>
        </div>
        <div>
            {{!-- Blueprints --}}
            <h2 class="center">Blueprints</h2>
            <a class="blueprint">Create Blueprint</a>
        </div>
    </div>
</section>