<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <textarea name="data.description" style="height: 200px;">{{data.description}}</textarea>
        <table>
            <tr>
                <th>{{localize "dc.items.combat.favor.appeasement"}}</th>
                <th>{{localize "dc.items.combat.favor.duration"}}</th>
                <th>{{localize "dc.items.combat.favor.range"}}</th>
            </tr>
            <tr>
                <td><input style="text-align: center;" type="text" name="data.appeasement" value="{{data.appeasement}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.duration" value="{{data.duration}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.range" value="{{data.range}}"/></td>
            </tr>
        </table>
    </div>
</form>