<form class="{{cssClass}}" autocomplete="off">
    <div class="form">
        <div class="core">
            {{> "systems/deadlands_classic/templates/partials/generator-core.hbs"}}
        </div>
        <div class="flexbox">
            <div class="sheet">
                {{> "systems/deadlands_classic/templates/partials/generator-traits.hbs"}}
            </div>
            <div class="sidebar">
                {{> "systems/deadlands_classic/templates/partials/generator-sidebar.hbs"}}
            </div>
        </div>
    </div>
</form>