<form class="{{cssClass}}" autocomplete="off">
    <div class="flexbox">
        <div class="data">
            <a><p style="text-align: center;" class="draw-fate">Draw Fate Chip</p></a>
            {{#if fate_chips}}
            <h2 style="text-align: center;">Fate Chips</h2>
                {{#each fate_chips as |chip|}}
                <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{chip._id}}">
                    <input style="display: inline-block; width: 400%;" type="text" value="{{chip.name}}"/>
                    <input style="text-align: center;" type="text" value="{{chip.data.bounty}}">
                    <a class="item-delete icon-btn"><i class="fas fa-trash"></i></a>
                </div>
                {{/each}}
            {{/if}}
            {{#if action_deck}}
                <h1 style="text-align: center;">Combat Hand</h1>
                {{#each action_deck as |card|}}
                <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
                    <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
                    <a class="play-card icon-btn"><i class="fas fa-hand-paper" title="Play this Card"></i></a>
                </div>
                {{/each}}
            {{/if}}
        </div>
        <div class="data">
            <button class="start-combat" style="text-align: center;">Start Combat</button>
            <button class="new-round" style="text-align: center;">New Round</button>
            <button class="end-combat" style="text-align: center;">End Combat</button>
            <button class="draw-card" style="text-align: center;">Draw Card</button>
        </div>
    </div>
</form>