<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <textarea name="data.description" style="height: 200px;">{{data.description}}</textarea>
        <table>
            <tr>
                <th>{{localize "dc.items.combat.hex.level"}}</th>
                <th>{{localize "dc.items.combat.hex.trait"}}</th>
                <th>{{localize "dc.items.combat.hex.hand"}}</th>
                <th>{{localize "dc.items.combat.hex.speed"}}</th>
                <th>{{localize "dc.items.combat.hex.duration"}}</th>
                <th>{{localize "dc.items.combat.hex.range"}}</th>
            </tr>
            <tr>
                <td><input style="text-align: center;" type="text" name="data.level" value="{{data.level}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.trait" value="{{data.trait}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.hand" value="{{data.hand}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.speed" value="{{data.speed}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.duration" value="{{data.duration}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.range" value="{{data.range}}"/></td>
            </tr>
        </table>
    </div>
</form>