<form class="{{cssClass}}" autocomplete="off">
    <div class="flexbox">
        <div class="data">
            {{> "systems/deadlands_classic/templates/partials/core.hbs"}}
            {{> "systems/deadlands_classic/templates/partials/traits.hbs"}}
        </div>
        <div class="sidebar">
            <h1 class="h1">
                <div data-edit="data.name" contenteditable>
                    {{actor.name}}
                </div>
            </h1>
            <img class="actor-img" src="{{actor.img}}" data-edit="img"/>
        </div>
    </div>
</form>