<form class="{{cssClass}}" autocomplete="off">
    <div class="form">
        <h1 class="center">
            <div data-edit="name" contenteditable="">{{actor.name}}</div>
        </h1>
        <a class="center"><p class="refresh">Refresh</p></a>
        {{> "systems/deadlands_classic/templates/partials/fate-chips.hbs"}}
        {{#if action_deck}}
        <div>
            <table>
                <tr>
                    {{#each action_deck as |card|}}
                    <td class="item" data-itemId="{{this.id}}" style="text-align: center;">
                        <div class="flexrow" style="display: inline-block;">
                            <a>{{this.name}}</a>
                            <a class="aim-button"><i class="fas fa-crosshairs" title="Aim (Adds +2 to next shot, stacks to +6)"> </i></a>
                            {{#lvl_head}}
                            <a class="recycle-card"><i class="fas fa-sync-alt" title="Cycle this card"></i> </a>
                            {{/lvl_head}}
                            <a class="play-card"><i class="fas fa-hand-paper" title="Play this Card"></i></a>
                        </div>
                    </td>
                    {{/each}}
                </tr>
            </table>
        </div>
        {{/if}}
        <a class="center"><p class="roll-quickness">Roll Quickness!</p></a>
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="core">Core</a>
            <a class="item" data-tab="traits">Traits</a>
            <a class="item" data-tab="combat">Combat</a>
            {{#if miracles}}
            <a class="item" data-tab="miracles">Miracles</a>
            {{/if}}
            {{#if_has data.id "edge" "Arcane Background (Huckster)"}}
            <a class="item" data-tab="hexes">Hexes</a>
            {{/if_has}}
            <a class="item" data-tab="goods">Goods</a>
            <a class="item" data-tab="notes">Notes</a>
        </nav>
        <section class="sheet-body scroller trait_scroller">
            <div class="tab description" data-group="primary" data-tab="description">
                {{> "systems/deadlands_classic/templates/partials/description.hbs"}}
            </div>
            <div class="tab core" data-group="primary" data-tab="core">
                {{> "systems/deadlands_classic/templates/partials/core.hbs"}}
            </div>
            <div class="tab traits" data-group="primary" data-tab="traits">
                <div class="sheet">
                    {{> "systems/deadlands_classic/templates/partials/traits.hbs"}}
                </div>
            </div>
            <div class="tab combat" data-group="primary" data-tab="combat">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/combat.hbs"}}
                </div>
            </div>
            {{#if miracles}}
            <div class="tab miracles" data-group="primary" data-tab="miracles">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/miracles.hbs"}}
                </div>
            </div>
            {{/if}}
            {{#if_has data.id "edge" "Arcane Background (Huckster)"}}
            <div class="tab hexes" data-group="primary" data-tab="hexes">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/hexes.hbs"}}
                </div>
            </div>
            {{/if_has}}
            <div class="tab goods" data-group="primary" data-tab="goods">
                <div class="sidebar">
                    {{> "systems/deadlands_classic/templates/partials/goods.hbs"}}
                </div>
            </div>
            <div class="tab notes" data-group="primary" data-tab="notes">
                {{editor target="data.data.notes" owner="false" editable="true"}}
            </div>
        </section>
    </div>
</form>