<form class="{{cssClass}}" autocomplete="off">
    <div class="flexbox">
        <div class="data">
            <div class="core">
                <h1 class="h1">Core:</h1>
                <table>
                    <tr>
                        <th>{{localize "dc.player.core.pace"}}</th>
                        <th>{{localize "dc.player.core.size"}}</th>
                        <th>{{localize "dc.player.core.wind"}}</th>
                        <th>{{localize "dc.player.core.grit"}}</th>
                        <th>{{localize "dc.player.core.money"}}</th>
                        <th>{{localize "dc.player.core.bounty"}}</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="data.pace" value="{{data.pace}}"/></td>
                        <td><input type="text" name="data.size" value="{{data.size}}"/></td>
                        <td><input style="width: 45%" type="text" name="data.wind.value" value="{{data.wind.value}}"/>/<input style="width: 45%" type="text" name="data.wind.max" value="{{data.wind.max}}"/></td>
                        <td><input type="text" name="data.grit" value="{{data.grit}}"/></td>
                        <td><input type="text" name="data.cash" value="{{data.cash}}"/></td>
                        <td><input style="width: 45%" type="text" name="data.bounty.value" value="{{data.bounty.value}}"/>/<input style="width: 45%" type="text" name="data.bounty.max" value="{{data.bounty.max}}"/></td>
                    </tr>
                </table>
            </div>
            <div class="traits">
                <h1 class="h1">Traits:</h1>
                {{#each data.traits as |trait|}}
                <div class="flexbox">
                    <label class="trait-label" for="data.traits.{{@key}}.level">{{trait.name}}</label>
                    <input class="trait-input" type="text" name="data.traits.{{@key}}.level" value="{{trait.level}}"/>
                    <input class="trait-input" type="text" name="data.traits.{{@key}}.die_type" value="{{trait.die_type}}"/>
                    <label style="font-size: large; font-weight: bold; padding-top: 2px;; float: right;" for="data.traits.{{@key}}.modifier">+</label>
                    <input class="trait-input" type="text" name="data.traits.{{@key}}.modifier" value="{{trait.modifier}}"/>
                    <button id="{{@key}}_roll" class="roll-btn">Roll</button>
                    <script>
                        function callback() {
                            let content = "Cognition: [[{{trait.level}}{{trait.die_type}}ex + {{trait.modifier}}]]" 
                            ChatMessage.create({
                                content: content
                            });
                        }
                        {{@key}}_roll.addEventListener('click', callback);
                    </script>
                </div>
                <div>
                    <table>
                        <tr>
                            <th class="skill-name">{{localize "dc.skill_labels.name"}}</th>
                            <th class="skill-input">{{localize "dc.skill_labels.level"}}</th>
                            <th class="skill-input">{{localize "dc.skill_labels.modifier"}}</th>
                            <th>{{localize "dc.skill_labels.roll"}}</th>
                        </tr>
                        {{#each skills as |skill|}}
                        <tr>
                            <td><input type="text" name="data.traits.{{@../key}}.skills.{{@key}}.name" value="{{this.name}}"/></td>
                            <td><input type="text" name="data.traits.{{@../key}}.skills.{{@key}}.level" value="{{this.level}}"/></td>
                            <td><input type="text" name="data.traits.{{@../key}}.skills.{{@key}}.modifier" value="{{this.modifier}}"/></td>
                            <td><button id="{{@key}}_roll">Roll</button></td>
                            <script>
                                function callback() {
                                    let content = "";
                                    let skill_level = parseInt("{{this.level}}");
                                    if (skill_level > 0){
                                        content = "{{this.name}}: [[{{this.level}}{{trait.die_type}}ex + {{this.modifier}}]]";
                                    }else{
                                        content = "{{this.name}}: [[{{trait.level}}{{trait.die_type}}ex + {{this.modifier}}]]";
                                    };
                                    ChatMessage.create({
                                        content: content
                                    });
                                }
                                {{@key}}_roll.addEventListener('click', callback);
                            </script>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="sidebar">
            <h1 class="h1">
                <div data-edit="data.name" contenteditable>
                    {{actor.name}}
                </div>
            </h1>
            <img class="actor-img" src="{{actor.img}}" data-edit="img"/>
        </div>
    </div>
</form>