<form class="typed">
    <div class="flexrow">
        <div>
            <h2 class="center">{{this.actor.name}}</h2>
            {{#if melee_weapons}}
            <h3 class="center">Melee</h3>
            <table>
                {{#each melee_weapons as |item|}}
                <tr class="item" data-index="{{@index}}">
                    <td class="perc40">{{this.name}})</td>
                    <td class="perc20">{{item.data.cost}}</td>
                    <td><a class="buy-item">></a></td>
                </tr>
                {{/each}}
            </table>
            {{/if}}
            {{#if firearms}}
            <h3 class="center">Firearms</h3>
            <table>
                {{#each firearms as |item|}}
                <tr class="item" data-index="{{@index}}">
                    <td class="perc40">{{this.name}}</td>
                    <td class="perc20">{{item.data.cost}}</td>
                    <td><a class="buy-item">></a></td>
                </tr>
                {{/each}}
            </table>
            {{/if}}
            {{#if goods}}
            <h3 class="center">Goods</h3>
            <table>
                {{#each goods as |item|}}
                <tr class="item" data-index="{{@index}}">
                    <td class="perc40">{{this.name}} ({{this.data.amount}})</td>
                    <td class="perc20">{{item.data.cost}}</td>
                    <td><a class="buy-item">></a></td>
                </tr>
                {{/each}}
            </table>
            {{/if}}
        </div>
        <div>
            <h2 class="center">Trade</h2>
        </div>
        <div>
            <h2 class="center">You</h2>
        </div>
    </div>
</form>