<form class="typed">
    <div class="flexrow">
        <div class="border">
            <h2 class="center">{{this.actor.name}}</h2>
            <h3 class="center">{{this.actor.data.data.cash}}</h3>
            <div class="scroller">
                {{#if melee_weapons}}
                <h3 class="center">Melee</h3>
                <table>
                    {{#each melee_weapons as |item|}}
                        {{> "systems/deadlands_classic/templates/partials/reuseable/trade-sell.hbs" item}}
                    {{/each}}
                </table>
                {{/if}}
                {{#if firearms}}
                <h3 class="center">Firearms</h3>
                <table>
                    {{#each firearms as |item|}}
                        {{> "systems/deadlands_classic/templates/partials/reuseable/trade-sell.hbs" item}}
                    {{/each}}
                </table>
                {{/if}}
                {{#if goods}}
                <h3 class="center">Goods</h3>
                <table>
                    {{#each goods as |item|}}
                        {{> "systems/deadlands_classic/templates/partials/reuseable/trade-sell.hbs" item}}
                    {{/each}}
                </table>
                {{/if}}
                {{#if components}}
                <h3 class="center">Components</h3>
                <table>
                    {{#each components as |item|}}
                        {{> "systems/deadlands_classic/templates/partials/reuseable/trade-sell.hbs" item}}
                    {{/each}}
                </table>
                {{/if}}
                {{#if documents}}
                <h3 class="center">Documents</h3>
                <table>
                    {{#each documents as |item|}}
                        {{> "systems/deadlands_classic/templates/partials/reuseable/trade-sell.hbs" item}}
                    {{/each}}
                </table>
                {{/if}}
            </div>
        </div>
        <div class="border">
            <h2 class="center">Trade</h2>
            <div class="scroller">
                {{#if current_trade.sell}}
                <h3 class="center">Sell:</h3>
                <table>
                    {{#each current_trade.sell as |item|}}
                    <tr class="item" data-index="{{@index}}">
                        <td class="center perc10"></td>
                        <td class="right perc10">[{{item.amount}}]</td>
                        <td class="center perc60">{{this.name}}</td>
                        <td class="right perc10">{{sum (sum (sum item.data.cost '/' item.data.box_amount) '*' ../data.data.buy_modifier) '*' item.amount}}</td>
                        <td class="center perc10 remove-sell-item"><a>></a></td>
                    </tr>
                    {{/each}}
                </table>
                {{/if}}
                {{#if current_trade.buy}}
                <h3 class="center">Buy:</h3>
                <table>
                    {{#each current_trade.buy as |item|}}
                    <tr class="item" data-index="{{@index}}">
                        <td class="center perc10 remove-buy-item"><a><</a></td>
                        <td class="right perc10">[{{item.amount}}]</td>
                        <td class="center perc60">{{this.name}}</td>
                        <td class="right perc10">{{item.total}}</td>
                        <td class="center perc10"></td>
                    </tr>
                    {{/each}}
                </table>
                {{/if}}
            </div>
        </div>
        <div class="border">
            <h2 class="center">You</h2>
            <h3 class="center">${{player_cash}}</h3>
            <div class="scroller">
                {{#if cust_melee}}
                    <h3 class="center">Melee</h3>
                    {{> "systems/deadlands_classic/templates/partials/reuseable/trade-buy.hbs" buy_modifier=buy_modifier list=cust_melee}}
                {{/if}}
                {{#if cust_guns}}
                    <h3 class="center">Firearms</h3>
                    {{> "systems/deadlands_classic/templates/partials/reuseable/trade-buy.hbs" buy_modifier=buy_modifier list=cust_guns}}
                {{/if}}
                {{#if cust_goods}}
                    <h3 class="center">Goods</h3>
                    {{> "systems/deadlands_classic/templates/partials/reuseable/trade-buy.hbs" buy_modifier=buy_modifier list=cust_goods}}
                {{/if}}
                {{#if cust_components}}
                    <h3 class="center">Components</h3>
                    {{> "systems/deadlands_classic/templates/partials/reuseable/trade-buy.hbs" buy_modifier=buy_modifier list=cust_components}}
                {{/if}}
                {{#if cust_lit}}
                    <h3 class="center">Documents</h3>
                    {{> "systems/deadlands_classic/templates/partials/reuseable/trade-buy.hbs" buy_modifier=buy_modifier list=cust_lit}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="center">
        {{#if (gt (sum current_trade.total '*' 1) 0)}}
        <p> << {{current_trade.total}} </p>
        {{else}}
        <p> {{current_trade.total}} >> </p>
        {{/if}}
        <div class="flexrow">
            <button class="center perc20 cancel-trade">Cancel</button>
            <button class="center perc20 confirm-trade">Confirm</button>
        </div>
    </div>
</form>