<form class="typed">
    <div class="flexrow">
        <div>
            <h2 class="center">{{this.name}}</h2>
            <table>
            {{#each sale_list as |item|}}
                <tr class="item" data-index="{{@index}}">
                    <td class="perc10"><a class="item-sell-remove"><</a></td>
                    <td class="perc40">{{this.name}} ({{this.data.amount}})</td>
                    <td class="perc20">{{item.data.cost}}</td>
                    <td><a class="buy-item">></a></td>
                </tr>
            {{/each}}
            </table>
        </div>
        <div>

        </div>
        <div>
            <h2>You</h2>
        </div>
    </div>
</form>