.scroller{
    overflow-y:scroll;
    height:500px
}
.merchant-scroller{
    overflow-y:scroll;
    height:400px
}
.vehicle-scroller{
    overflow-y:scroll;
    height:400px
}
.typed-small{
    font-family: "Lucida Sans Typewriter";
    font-size: xx-small;
}
.typed{
    font-family: "Lucida Sans Typewriter";
    font-size: smaller;
}
.typed-large{
    font-family: "Lucida Sans Typewriter";
    font-size: small;
}
.center{
    text-align: center;
}
.iblock{
    display: inline-block;
}
.border{
    border-style: groove;
    border: 0 1px;
    border-color: rgb(111, 63, 29);
    padding: 2px;
}
.right{
    text-align: right;
    padding-right: 10px;
}
.small-drop{
    width: 1em !important;
}
.perc90 {
    width: 90%
}
.perc80 {
    width: 80%
}
.perc70 {
    width: 70%
}
.perc60 {
    width: 60%
}
.perc50 {
    width: 50%
}
.perc45 {
    width: 45%
}
.perc40 {
    width: 40%
}
.perc30 {
    width: 30%
}
.perc25 {
    width: 25%
}
.perc20 {
    width: 20%
}
.perc15 {
    width: 15%
}
.perc12 {
    width: 12%
}
.perc10 {
    width: 10%
}
.perc5 {
    width: 5%
}
.flexbox {
    display: flex;
    flex-direction: row;
}
.sheet-tabs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}
.fa-stack { 
    font-size: 0.5em;
}
.White {
    color: beige;
}
.Red {
    color: red;
}
.Blue {
    color: blue;
}
.Legendary {
    color: yellow;
}
.newspaper{
    display: grid;
    grid:
    'db nb nb nb nb nb nb pb'
    'hl hl hl hl hl hl hl hl'
    's1 s1 ma ma ma ma s2 s2'
    's1 s1 ma ma ma ma s2 s2'
    'a1 a1 ma ma ma ma a2 a2'
    ;
}
.date-banner{
    font-family: "Lucida Sans Typewriter";
    font-size: xx-small;
    text-align: center;
    white-space: pre-wrap;
    grid-area: db;
    place-items: center;
}
.name-banner {
    font-family: "Lucida Sans Typewriter";
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    white-space: pre-wrap;
    grid-area: nb;
    place-items: center;
}
.price-banner{
    font-family: "Lucida Sans Typewriter";
    font-size: xx-small;
    text-align: center;
    white-space: pre-wrap;
    grid-area: pb;
    place-items: center;
}
.headline {
    font-family: "Lucida Sans Typewriter";
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    white-space: pre-wrap;
    grid-area: hl;
    place-items: center;
}
.main-article {
    font-family: "Lucida Sans Typewriter";
    font-size: xx-small;
    padding: 5px;
    white-space: pre-wrap;
    grid-area: ma;
}
.sub-hl-1 {
    font-family: "Lucida Sans Typewriter";
    font-size: small;
    font-weight: bold;
    text-align: center;
    white-space: pre-wrap;
    grid-area: s1;
    place-items: center;
}
.sub-hl-2 {
    font-family: "Lucida Sans Typewriter";
    font-size: small;
    font-weight: bold;
    text-align: center;
    white-space: pre-wrap;
    grid-area: s2;
    place-items: center;
}
.article-1 {
    font-family: "Lucida Sans Typewriter";
    font-size: xx-small;
    padding: 5px;
    white-space: pre-wrap;
    grid-area: a1;
}
.article-2 {
    font-family: "Lucida Sans Typewriter";
    font-size: xx-small;
    padding: 5px;
    white-space: pre-wrap;
    grid-area: a2;
}