/* latin-ext */
@font-face {
    font-family: 'Corinthia';
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/corinthia/v6/wEO_EBrAnchaJyPMHE01VvoK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Corinthia';
    font-style: normal;
    font-weight: bold;
    src: url(https://fonts.gstatic.com/s/corinthia/v6/wEO_EBrAnchaJyPMHE01WPoK7Es.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.textbox{
    white-space: pre-line;
}
.scroller{
    overflow-y:scroll;
    height:500px
}
.merchant-scroller{
    overflow-y:scroll;
    height:400px
}
.vehicle-scroller{
    overflow-y:scroll;
    height:400px
}
.typed-small{
    font-family: "Lucida Sans Typewriter";
    font-size: xx-small;
}
.typed{
    font-family: "Lucida Sans Typewriter";
    font-size: smaller;
}
.typed-large{
    font-family: "Lucida Sans Typewriter";
    font-size: small;
}
.center{
    text-align: center;
}
.iblock{
    display: inline-block;
}
.border{
    border-style: groove;
    border: 0 1px;
    border-color: rgb(111, 63, 29);
    padding: 2px;
}
.right{
    text-align: right;
    padding-right: 10px;
}
.small-drop{
    width: 1em !important;
}
.perc90 {
    width: 90%
}
.perc80 {
    width: 80%
}
.perc70 {
    width: 70%
}
.perc60 {
    width: 60%
}
.perc50 {
    width: 50%
}
.perc45 {
    width: 45%
}
.perc40 {
    width: 40%
}
.perc30 {
    width: 30%
}
.perc25 {
    width: 25%
}
.perc20 {
    width: 20%
}
.perc15 {
    width: 15%
}
.perc12 {
    width: 12%
}
.perc10 {
    width: 10%
}
.perc5 {
    width: 5%
}
.flexbox {
    display: flex;
    flex-direction: row;
}
.sheet-tabs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}
.fa-stack { 
    font-size: 0.5em;
}
.White {
    color: beige;
}
.Red {
    color: red;
}
.Blue {
    color: blue;
}
.Legendary {
    color: yellow;
}
.letter {
    font-family: "Corinthia", cursive;
    font-size: 24pt;
}
.letter-date {
    font-family: "Corinthia", cursive;
    font-size: 16pt;
    text-align: right;
}
.letter-sig {
    font-family: "Corinthia", cursive;
    font-size: 32pt;
}
.newspaper{
    display: grid;
    grid:
    'db nb nb nb nb nb nb nb nb nb nb nb nb pb'
    'hl hl hl hl hl hl hl hl hl hl hl hl hl hl'
    's1 s1 s1 ma ma ma ma ma ma ma ma s2 s2 s2'
    'a1 a1 a1 ma ma ma ma ma ma ma ma a2 a2 a2'
    ;
}
.date-banner{
    /* font-family: "Lucida Sans Typewriter"; */
    font-size: xx-small;
    text-align: center;
    white-space: pre-line;
    grid-area: db;
}
.name-banner {
    font-family: "Corinthia";
    font-style: normal;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    white-space: pre-line;
    grid-area: nb;
}
.price-banner{
    /* font-family: "Lucida Sans Typewriter"; */
    font-size: xx-small;
    text-align: center;
    white-space: pre-line;
    grid-area: pb;
}
.headline {
    /* font-family: "Lucida Sans Typewriter"; */
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    white-space: pre-line;
    grid-area: hl;
}
.main-article {
    /* font-family: "Lucida Sans Typewriter"; */
    font-size: xx-small;
    padding: 5px;
    white-space: pre-line;
    grid-area: ma;
}
.sub-hl-box-1{
    place-items: center;
    grid-area: s1;
}
.sub-hl-box-2{
    place-items: center;
    grid-area: s2;
}
.sub-headline {
    /* font-family: "Lucida Sans Typewriter"; */
    font-size: small;
    font-weight: bold;
    text-align: center;
    white-space: pre-line;
}
.article-1 {
    /* font-family: "Lucida Sans Typewriter"; */
    font-size: xx-small;
    padding: 5px;
    grid-area: a1;
    white-space: pre-line;
}
.article-2 {
    /* font-family: "Lucida Sans Typewriter"; */
    font-size: xx-small;
    padding: 5px;
    grid-area: a2;
    white-space: pre-line;
}