.scroller{
    overflow-y:scroll;
    height:500px
}
.typed{
    font-family: "Lucida Sans Typewriter"
}
.center{
    text-align: center;
}
.iblock{
    display: inline-block;
}
.right{
    text-align: right;
    padding-right: 10px;
}
.perc90 {
    width: 90%
}
.perc80 {
    width: 80%
}
.perc70 {
    width: 70%
}
.perc60 {
    width: 60%
}
.perc50 {
    width: 50%
}
.perc45 {
    width: 45%
}
.perc40 {
    width: 40%
}
.perc30 {
    width: 30%
}
.perc25 {
    width: 25%
}
.perc20 {
    width: 20%
}
.perc12 {
    width: 12%
}
.perc10 {
    width: 10%
}
.flexbox {
    display: flex;
    flex-direction: row;
}
.sheet-tabs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}
.fa-stack { 
    font-size: 0.5em;
}
.White {
    color: beige;
}
.Red {
    color: red;
}
.Blue {
    color: blue;
}
.Legendary {
    color: yellow;
}