.form {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sheet {
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sheet.form {
    display: flex;
    flex-direction: column;
}
.sheet.sheet-content{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.editor {
    height: 100%
}
.player {
    text-align: center;
}
.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.flexbox {
    display: flex;
    flex-direction: row;
}
.traitbox {
    display: flex;
    flex-direction: row;
}
.data {
    width: 50%;
}
.core {
    width: 100%;
}
.traits {
    width: 100%;
}
.table-input {

    text-align: center;
}
.sidebar {
    align-items: center;
}
.icon-btn {
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 2px;
}
.h1 {
    text-align: center; 
}
.trait-label {
    font-size: large;
    font-weight: bold;
    padding-top: 2px;
    float: left;
    width: 65%;
}
.trait-input {
    text-align: right;
    display: block;
    width: 10%;
}
.select {
    border: none;
    text-align: center;
}
.roll-btn {
    border: none;
    width: 50px;
}
.skill-name {
    width: 65%;
}
.skill-input{
    width: 10%;
}