<section>
    <h3 class="center">Modifiers</h3>
    <a class="center"><p class="add-modifier">Add a modifier</p></a>
    <table>
    {{#each modifiers as |mod|}}
        <tr>
            <td>{{@index}}</td>
            <td>
                <select class="{{@index}}-type-select" name="{{@index}}" id="{{@index}}-type-select">
                    <option value="skill_mod">Skill Modifier</option>
                    <option value="armour_mod">Armour Modifier</option>
                    <option value="wind_mod">Wind Modifier</option>
                    <option value="pace_mod">Pace Modifier</option>
                </select>
            </td>
        </tr>
    {{/each}}
    </table>
</section>