{{!-- Pass label for the name of the dropdown --}}
<section>
    <select name="{{label}}" id="{{label}}-select">
        {{#each items as |item|}}
            {{#if (eq item.slot slot)}}
                <option value="{{item.id}}" contenteditable="true">{{item.name}}</option>
            {{/if}}
        {{/each}}
    </select>
</section>