<section>
    <table>
        <tr>
            {{#each fate_chips as |chip|}}
            <td class="fate-data center" data-chip="{{this.name}}" data-bounty="{{this.bounty}}">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x {{this.name}}"></i>
                    <i class="fas fa-atom fa-stack-1x"></i>
                </span>
                <span class="center">{{this.amount}}</span>
                {{#chip_bounty}}
                <span class="center"><a class="spend-fate"><i class="fas fa-dollar-sign" title="Spend for Bounty"></a></i></span>
                {{/chip_bounty}}
                <span class="center"><a class="use-fate"><i class="fas fa-trash" title="Use in game"></i></a></span>
            </td>
            {{/each}}
        </tr>
    </table>
    <a class="center"><p class="draw-fate">Draw Fate Chip</p></a>
</section>