<section>
    <tr class="item" data-id="{{item.id}}">
        <td class="right perc10">[{{item.data.data.amount}}]</td>
        <td class="perc60">{{item.name}}</td>
        <td class="right perc20">{{item.data.data.cost}}</td>
        <td class="center perc10 buy-item"><a>></a></td>
    </tr>
</section>