<section>
    <tr class="item" data-id="{{this.id}}">
        <td class="right perc10">[{{this.data.data.amount}}]</td>
        <td class="perc60">{{this.name}}</td>
        <td class="right perc20">{{this.data.data.cost}}</td>
        <td class="center perc10 buy-item"><a>></a></td>
    </tr>
</section>